<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>595961874472-5392a1dgo1oi5iobppd16isee7n06410.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.595961874472-5392a1dgo1oi5iobppd16isee7n06410</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>595961874472-3pmkc1kskp122fpusqejn3e0i7p824uj.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyC2ShvFV9wuKiSiIn-86aBJ3ysAH4BpvA0</string>
		<key>GCM_SENDER_ID</key>
		<string>595961874472</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.pantofit.pantofitapp</string>
		<key>PROJECT_ID</key>
		<string>pantofit-4d0f9</string>
		<key>STORAGE_BUCKET</key>
		<string>pantofit-4d0f9.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:595961874472:ios:66c716d4b9f8be756bcd1d</string>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Pantofit</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Pantofit</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>fb1374888356770484</string>
					<string>com.googleusercontent.apps.595961874472-o02ute49jq85lkt93oi6rhecvao87skc</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FacebookAppID</key>
		<string>1374888356770484</string>
		<key>FacebookClientToken</key>
		<string>2c96f3d4249a1c53da609109d3f91579</string>
		<key>FacebookDisplayName</key>
		<string>PantoFit</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>fbapi</string>
			<string>fb-messenger-share-api</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSCameraUsageDescription</key>
		<string>Need to access your camera to capture a picture and record a video.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Allow $(PRODUCT_NAME) to use your location, to get closest gyms</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Allow $(PRODUCT_NAME) to use your location, to get closest gyms</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Allow $(PRODUCT_NAME) to use your location, to get closest gyms</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Need to access your microphone to record a video.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
	</dict>
</plist>